{% extends 'base.html.twig' %}

{% block title %}Espace Admin{% endblock %}

{% block body %}
    <div class="container-sm w-100 min-vh-100 d-flex flex-column py-5 align-items-center">
        <div class="d-flex flex-column gap-3 justify-content-center align-items-center align-content-center">
            <img src="{{ asset('images/admin_amigo_logo.png') }}" alt="Logo blanc noir de l'AMIGO" height="192px" width="192px"
            style="filter: drop-shadow(0 0 0.5rem whitesmoke);" class="mb-2"/>

            {% if error %}
                <div class="alert alert-danger m-0">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if app.user %}
                <div class="alert alert-primary m-0">
                    Tu es connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecté</a>
                </div>
            {% endif %}

            <div class="card">
                <div class="card-header">
                    <div class="card-title text-center fs-4 fw-bold">
                        Espace Admin
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="_csrf_token"
                                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="d-flex flex-column align-items-center align-content-center gap-3">
                            <div class="form-floating">
                                <input type="text" value="{{ last_username }}" name="_username" id="login" class="form-control"
                                       placeholder="o22033405" autocomplete="username" required autofocus>
                                <label for="login">Login</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" name="_password" id="password" class="form-control"
                                       placeholder="o22033405" autocomplete="current-password" required>
                                <label for="password">Mot de passe</label>
                            </div>
                            <div class="w-100 d-flex flex-row justify-content-start">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="remember" name="_remember_me">
                                    <label class="form-check-label" for="remember">Se souvenir de moi</label>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-end">
                                <button class="btn btn-secondary flex-fill" type="submit">
                                    Connexion
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
