{% extends "@EasyAdmin/page/content.html.twig" %}

{% block page_title %}
    {{ dashboardTitle }}
{% endblock %}

{% block content_title %}
    {{ pageTitle|trans|raw }}
{% endblock %}

{% block content %}
    <main class="d-flex flex-column justify-content-between align-items-center gap-3 mt-3">
        <div class="d-flex w-100 flex-row justify-content-between align-items-center mb-3">
            <h1 class="flex-fill">{{ dashboardTitle }}</h1>
            <img src="{{ asset('images/admin_amigo_logo.png') }}" alt="Logo blanc noir de l'AMIGO" height="80px" width="80px"/>
        </div>
        <div class="d-flex w-100 flex-column text-center gap-3">
            <div class="d-flex flex-row gap-3">
                {{ include('pages/admin/_buttonCard.html.twig', {'entity': 'Évènements',
                    'icon': 'fa-calendar'})
                }}
                {{ include('pages/admin/_buttonCard.html.twig', {'entity': 'Offres de stage',
                    'icon': 'fa-user-tie'})
                }}
            </div>
            <div class="d-flex flex-row gap-3">
                {{ include('pages/admin/_buttonCard.html.twig', {'entity': 'Partenaires',
                    'icon': 'fa-handshake'})
                }}
                {{ include('pages/admin/_buttonCard.html.twig', {'entity': 'Mandats',
                    'icon': 'fa-person'})
                }}
            </div>
        </div>

{#        <div class="d-flex w-100 flex-column align-items-stretch gap-3">#}
{#            <div class="d-flex flex-row flex-fill gap-3">#}
{#                <div class="card">#}
{#                    <div class="card-header">#}
{#                        {{ event }}#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        re test#}
{#                    </div>#}
{#                </div>#}
{#                <div class="card">#}
{#                    <div class="card-header">#}
{#                        {{ offer }}#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        re test#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="d-flex flex-row gap-3">#}
{#                <div class="card">#}
{#                    <div class="card-header">#}
{#                        {{ partner }}#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        re test#}
{#                    </div>#}
{#                </div>#}
{#                <div class="card">#}
{#                    <div class="card-header">#}
{#                        {{ mandate }}#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        re test#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <h6>Bienvenue sur le panel administrateur du site de l'AMIGO !</h6>
    </main>
{% endblock %}