<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/admin_amigo_logo.png') }}">
        <link rel="apple-touch-icon" href="{{ asset('images/admin_amigo_logo.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body data-bs-theme="dark">
        {% block body %}{% endblock %}
    </body>
</html>
